
[dir="rtl"] .vertical-accordion .accordion-header h3 {
    text-align: right;
}


.horizontal-accordion {
    display: flex;
    width: 100%;
}

.horizontal-accordion .accordion-item {
    border: 1px solid hsla(0, 0%, 86%, 1);
    cursor: pointer;
    transition: flex 0.5s ease;
    border-radius: 10px;
    box-shadow: 0px 12px 24px -4px hsla(210, 13%, 62%, 0.12);
    margin: 16px;
    min-height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal-accordion .accordion-item.active {
    flex: 3;
}

.horizontal-accordion .accordion-header {
    color: var(--purple);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

}

.horizontal-accordion .accordion-showText {
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 71px;
    width: 71px;
    padding: 24px 0;
    height: 80vh;
    display: flex;
    position: relative;
    overflow: hidden;
}


.horizontal-accordion .accordion-subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--text-primary);
    margin-top: auto;
}

.horizontal-accordion .accordion-item .accordion-content {
    display: none;
    padding: 15px;
    transition: display 0.5s ease;
}


.horizontal-accordion .accordion-item.active .accordion-content {
    display: block;
}


.horizontal-accordion .accordion-content .text-part {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.horizontal-accordion .accordion-content .text-part h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-primary);
    margin-bottom: 24px;

}

.horizontal-accordion .accordion-content .text-part p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
}

.horizontal-accordion .accordion-content .img-btn img {
    margin: 24px 5px 0 5px;
}

.horizontal-accordion .accordion-content .img-part img {
    min-width: 100%;
}

.horizontal-accordion .accordion-content .img-part {
    display: flex;
    align-items: center;
}




/* vertical-accordion */
.vertical-accordion .accordion-header h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 0px;
}

.vertical-accordion .accordion-header h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 0px;
}

.vertical-accordion .accordion-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 24px;
}

.vertical-accordion .accordion-content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 30px;
}


.vertical-accordion .accordion-content .img-btn img {
    margin: 5px;
}

.vertical-accordion .accordion-content .img-part img {
    width: 100%;
}

.vertical-accordion{
    display: none;
}
@media screen and (max-width: 991px) {
    .vertical-accordion{
        display: block;
    }
    .horizontal-accordion{
        display: none;
    }
    .vertical-accordion .accordion-content .text-part {
        text-align: center;
    }

    .vertical-accordion .accordion-content .img-btn img {
        margin: 0px 5px 40px 5px;
    }
}


@media screen and (max-width: 520px) {
    .vertical-accordion .accordion-header h3 {
        font-size: 20px;
    }

    .vertical-accordion .accordion-header h4 {
        font-size: 20px;
    }

    .vertical-accordion .accordion-content h3 {
        font-size: 26px;

    }
    .vertical-accordion .accordion-content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
.vertical-accordion .accordion-content .img-btn img {
    margin: 0px 5px 5px 5px;
}
}