.order-content-section-text-part {
    text-align: right;
    padding: 10px;
}
.order-content-text-part p{
    width: 100% !important;
}
.button-part{
    /* text-align: right; */
    margin-bottom: 25px;
}
.order-img {
    width: 100%;
    height: auto;
}

.order-img-div {
    /* background-color: black; */
    position: relative;
    z-index: 0;
}

.like-section{
    /* background:  #31303080; */
    background: var(--purple);
    border-radius: 6px;
    opacity: 0.7;
    height: 40px;
    position: absolute;
    top: 14%;
    right: 10%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    animation: zoomInOut 1s infinite alternate;
    gap:8px;
}

.like-section img{
    width: 24px; 
    height: auto;
}

.like-section .like-text h3{
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
} 

.comment-section{
    /* background:  #31303080; */
    background: var(--purple);
    border-radius: 6px;
    opacity: 0.7;
    height: 40px;
    position: absolute;
    bottom: 40%;
    left: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    animation: zoomInOut 1s infinite alternate;
    gap:8px;
}

.comment-section img{
    width: 24px; 
    height: auto;
}

.comment-section .like-text h3{
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin:0;
} 

/* animation  */
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
        /* Adjust zoom level as needed */
    }
}
@media only screen and (max-width: 1200px) {
    .order-content-text-part{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .order-content-section .button-part {
        display: flex;
        justify-content: center;
    }
    .order-image-section{
        margin-top: 25px;
        width: 80%;
        margin: auto;
    }
    .content-creator {
        padding: 35px 0;
    }

}

@media only screen and (max-width: 768px) {
    .comment-section .like-text h3, .like-section .like-text h3{
        font-size: 18px;
    }
}

@media only screen and (max-width: 520px) {
    .comment-section .like-text h3, .like-section .like-text h3{
        font-size: 14px;
    }

    .comment-section, .like-section{
        gap:5px;
        padding: 4px 8px;
        height:30px;
    }

    .comment-section img, .like-section img{
        width:16px;
    }
}
