.order-content-section-text-part {
    text-align: right;
    padding: 10px;
}
.button-part{
    text-align: right;
    margin-bottom: 25px;
}
.order-img {
    width: 100%;
    height: auto;
}

.order-img-div {
    /* background-color: black; */
    position: relative;
    z-index: 0;
}

.like-section{
    /* background:  #31303080; */
    background: var(--purple);
    border-radius: 6px;
    opacity: 0.7;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 14%;
    right: 10%;
    z-index: 1;
    display: flex;
    padding: 5px 10px;
    animation: zoomInOut 1s infinite alternate;
    justify-content: space-around;
}

.like-section .like-img img{
    width: 90%; 
}

.like-section .like-text h3{
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
} 

.comment-section{
    /* background:  #31303080; */
    background: var(--purple);
    border-radius: 6px;
    opacity: 0.7;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 40%;
    left: 5%;
    z-index: 1;
    display: flex;
    padding: 5px 10px;
    animation: zoomInOut 1s infinite alternate;
    justify-content: space-around;
}

.comment-section .comment-img img{
    width: 100%;
}

.comment-section .like-text h3{
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    
} 
/* animation  */
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
        /* Adjust zoom level as needed */
    }
}

@media only screen and (max-width: 991px) {
    .order-content-section .button-part {
        display: flex;
        justify-content: center;
    }
    .order-content-text-part{
        padding: 0 !important;
    }

}
