.contact-section-content{
    margin-top: 80px;
    margin-bottom: 40px;
}
.contact-section-content p{
    width: 100%;
}

.contact-desktop-img-section{
    width: 100%;
    padding: 20px;
    margin: auto;
}

.image-right-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.contact-form-section{
    margin-top: 50px;
}

.contact-card-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-mobile-image-section{
    display: none;
    width: 80%;
    margin: auto;
    text-align: center;
}

.form-text-field{
    margin-bottom: 30px;
}

/* responsive  */

@media only screen and (max-width: 991px) {
    .contact-section-content{
        width: 100%;
    }
    .contact-section-content p{
        margin-top: 50px;
    }
    .contact-mobile-image-section{
        display: block;
    }
    .contact-desktop-img-section{
        display: none;
    }
    .form-text-field{
        margin-bottom: 20px;
    }
    .contact-card-section{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px){
    .contact-section-content p{
        font-size: 18px;
    }
    .contact-section-content p{
        margin-top: 30px;
    }
    .contact-section-content {
        margin-top: 40px;
    }
}

