.creators-video-section h3 {
    width: 77%;
    margin: 0 auto;
    padding-bottom: 24px;
}

.creators-video-part {
    margin: 40px 0;
}

.creators-video-part .creators-video {
    max-width: 373px;
    max-height: 400px;
    position: relative;
}

.creators-video-part .creators-video video {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none !important;
}

.creators-video-part .creators-video .play-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 50%;
    left: 0;
    right: 0;
}

.creators-video-part .video-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 373px;
    width: 100%;
    padding: 16px 0;
}

.creators-video-part .video-details h4 {
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--text-primary);
}

.creators-video-part .video-details p {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--text-secondary);
}

.creators-video-part .video-details h6 {
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--text-primary);
    background-color: #FFF7E8;
    border-radius: 8px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

/*  */
.find-section-btn {
    margin-top: -60px;
}

/* success-slider-section */
.success-slider-section {
    background: linear-gradient(180deg, #F2F5F7 0%, #FFFFFF 100%);
}

.success-slider-section .text-part {
    padding: 55px 0;
}

.success-slider-section h4 {
    color: var(--text-primary);
}

.success-slider-section .persentages-part {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 40px 0;
}

.success-slider-section .persentages-part h3 {
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    color: var(--purple);
}

.success-slider-section .persentages-part p {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #717171;
}

.success-slider-section button {
    margin-bottom: 40px;
}

.success-slider-section .slide-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.success-slider-section .left-part {
    width: 30%;
}

.success-slider-section .left-part img {
    width: 100%;
    height: auto;
    max-width: 373px;
    max-height: 557px;
}

.success-slider-section .right-part {
    width: 70%;
}

.success-slider-section .desktop-nav {
    padding-bottom: 10px;
}

.button-container {
    gap: 24px;
}

.button-container .light-btn {
    background-color: #F4783C14 !important;
    color: var(--purple) !important;
}

.button-container .light-btn:hover {
    background-color: var(--purple) !important;
    color: white !important;
}

.find-creators-section {
    background: linear-gradient(180deg, #F2F5F7 0%, #FFFFFF 100%);
}

.find-creators-section .find-creators-cards {
    margin-top: 40px;
}

.find-creators-section .card-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 24px -4px #919EAB1F;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 20px;
}

.find-creators-section .card-part .country-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 24px;
}

.find-creators-section .card-part h4 {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--text-primary);
}

.find-creators-section .card-part p {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #717171;
    margin: 0;
    min-height: 70px;
}

.find-creators-section .card-part button {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding: 8px 46px;
}

/* table section */
.table-part table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-part {
    width: 100%;
}

.table-part th,
.table-part td {
    padding: 11px;
}

.table-part th,
.table-part td {
    border: none;
}

.table-part th {
    background-color: #ffffff;
}

.table-part td:nth-child(n + 2) {
    text-align: center;
}

.table-part th:nth-child(n + 2) {
    text-align: center;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 18px;
    color: #230d44;
}

.table-part th:nth-child(2) {
    color: #ffffff;
    font-weight: 700;
}

.table-part tr {
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #230d44;
}

.table-part tr:nth-child(odd) {
    background-color: #f7f7f8;
}

.table-part td:nth-child(2) {
    background-color: #f4783c;
}

.table-part th:nth-child(2) {
    background-color: #f4783c;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.table-part tbody tr:last-child td:nth-child(2) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-part tr:nth-child(odd) td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.table-part tr:nth-child(odd) td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}



@media screen and (max-width: 991px) {
    .table-part table {
        white-space: nowrap;
        table-layout: auto;
    }

    .table-part {
        overflow-x: auto;
    }

    .success-slider-section .right-part {
        width: 100%;
    }

    .creators-video-section h3 {
        width: 100%;
        padding-bottom: 24px;
    }

    .success-slider-section .slide-item {
        flex-wrap: wrap;
        gap: 20px;
    }

    .success-slider-section .slider-btn {
        display: flex;
        justify-content: center;
    }

    .success-slider-section button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .success-slider-section .persentages-part {
        margin: 10px 0;
        gap: 10px;
    }

    .success-slider-section .persentages-part div {
        width: 50%;
    }

    .success-slider-section .persentages-part h3 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
    }

    .success-slider-section .persentages-part p {
        font-size: 16px;
        text-align: center;
    }

    .success-slider-section button {
        gap: 6px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .button-container {
        flex-wrap: wrap;
    }

    .creators-video-part .video-details {
        padding-top: 4px;
        align-items: start;
    }

    .creators-video-part .video-details h4 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 2px;
    }

    .creators-video-part .video-details p {
        font-size: 12px;
        line-height: 16px;
    }

    .creators-video-part .video-details h6 {
        font-size: 10px;
        line-height: 14px;
        border-radius: 6px;
        padding: 4px 6px;
        gap: 3px;
    }

    .creators-video-part .video-details h6 img {
        width: 10px;
        height: 10px;
    }

    .creators-video-part .creators-video .play-btn img{
        width: 45px;
        height: 45px;
    }

}

@media screen and (max-width: 520px) {
    .find-section-btn {
        margin-top: 0px;
    }
}