.scale-section .enterprise-para-text {
  width: 60%;
  margin: 0 auto;
}

.scale-section .scale-section-btn {
  margin-top: 24px;
  margin-bottom: 40px;
}
.enterprise-section .enterprise-card {
  gap: 32px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.enterprise-section .enterprise-card .enterprise-info {
  max-width: calc(33% - 21px);
}
.enterprise-section .enterprise-card .enterprise-info .enterprise-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-primary);
  margin: 16px 0px;
}
.enterprise-section .enterprise-card .enterprise-info .enterprise-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-secondary);
}
.enterprise-section .enterprise-card .enterprise-info .enterprise-btn {
  margin-top: 8px;
}

.enterprise-section .enterprise-card .enterprise-info .enterprise-img-section {
  position: relative;
}

.enterprise-section
  .enterprise-card
  .enterprise-info
  .enterprise-img-section::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f4783c14;
  top: 37px;
  left: 37px;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: height 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.enterprise-section
  .enterprise-card
  .enterprise-info:hover
  .enterprise-img-section::before {
  height: 50px;
  width: 50px;
  opacity: 0.9;
}
.enterprise-section .enterprise-card .enterprise-info:hover .enterprise-img {
  animation: tada 0.8s ease-in-out;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60% {
    transform: scale(1.1) rotate(-3deg);
  }
  80% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1);
  }
}

.creative-section .creative .creative-info {
  margin-left: 80px;
}

.creative-section .creative .creative-info .creative-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--text-primary);
  margin-bottom: 16px;
}
.creative-section .creative .creative-info .custom-list {
  list-style: none;
  padding-left: 6px !important;
}

.creative-section .creative .creative-info .custom-list li {
  position: relative;
  padding-left: 23px;
  margin-bottom: 16px;
}

.creative-section .creative .creative-info .custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  transform: translateY(-50%);
  width: 14px;
  height: 11px;
  background: url("/images/enterprise/true.svg") no-repeat;
  background-size: contain;
}

.creative-section .creative .creative-info .custom-list .custom-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-secondary);
}
@media screen and (max-width: 1200px) {
  .creative-section .creative .creative-img {
    width: 130%;
    height: auto;
  }

  .creative-section .creative .creative-info {
    margin-left: 60px;
  }
}
@media (max-width: 991px) {
  .scale-section .enterprise-para-text {
    width: 90%;
  }
  .creative-section .creative .creative-info .creative-heading {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .enterprise-section .enterprise-card .enterprise-info {
    max-width: calc(50% - 32px);
  }
}
@media (max-width: 768px) {
  .creative-section .creative .creative-img {
    width: 70%;
  }
  .enterprise-section .enterprise-card .enterprise-info {
    max-width: calc(100%);
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .scale-section .enterprise-para-text {
    width: 90%;
  }
  .scale-section .scale-section-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .enterprise-card .enterprise-info .enterprise-img-section .enterprise-img {
    width: 73%;
  }

  .enterprise-section
    .enterprise-card
    .enterprise-info
    .enterprise-img-section::before {
    height: 30px;
    width: 30px;
    top: 32px;
    left: 25px;
  }
  .enterprise-section .enterprise-card .enterprise-info .enterprise-title {
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0px;
  }
  .enterprise-section .enterprise-card .enterprise-info .enterprise-text {
    font-size: 13px;
    line-height: 20px;
  }
  .enterprise-section .enterprise-card {
    margin-top: 20px;
  }
  .enterprise-section .enterprise-card .enterprise-info .enterprise-btn {
    margin-top: 0px;
  }
  .creative-section .creative .creative-info .creative-heading {
    font-size: 20px;
    line-height: 20px;
  }
  .creative-section .creative .creative-info .custom-list .custom-list-text {
    font-size: 13px;
    line-height: 20px;
  }
  .creative-section .creative .creative-info {
    margin-left: 20px;
  }
  .creative-section .creative .creative-info .custom-list li {
    margin-bottom: 6px;
  }
  .enterprise-section
    .enterprise-card
    .enterprise-info:hover
    .enterprise-img-section::before {
    height: 40px;
    width: 40px;
    opacity: 0.9;
  }
}
