.main-content {
    background-color: #F2F5F7;
}

.footer-content {
    padding: 80px 0 24px 0;
}

.left-col-content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-secondary);
    max-width: 60%;
    margin: 40px 0 24px 0;
}

.left-col-content .social-icon {
    margin-right: 24px;
}

.list-content h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 15px;
}

.list-content h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-secondary);
    position: relative;
    margin-bottom: 10px;
}

.social-icon:hover{
    transform: scale(1.1);
}

.list-icon {
    gap: 10px;
    display: flex;
}

.main-content a {
    text-decoration: none;
}
.main-content a:hover{
    text-decoration: underline;
    color: var(--purple);
}
.main-content a:hover h6{
    color: var(--purple);
}

.footer-apps {
    text-align: center;
    padding-bottom: 48px;
}

.footer-apps p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}
.address-style{
   cursor:text;
}

.apps-part a {
    margin: 10px;
}

.horizontal-line {
    border: 1px solid #DBDBDB;
}

.copy-right-part {
    padding: 24px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.copy-right-part h6 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);

}

.copy-right-part h6 span a {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);
    text-decoration: underline;
}
.copy-right-part h6 span a:hover{
    color: var(--purple);
}

@media screen and (max-width: 991px) {
    .col-content {
        margin-top: 40px;
    }

    .row-content .col-content:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .copy-right-part {
        flex-wrap: wrap;
        padding: 20px 0 20px 0;
    }

    .left-col-content p {
        max-width: 90%;
        margin: 0px 0 40px 0;
    }

    .copy-right-part {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-content {
        padding: 0px 0 24px 0;
    }

    .left-col-content p {
        font-size: 16px;
    }


}

@media screen and (max-width: 343px) {
    .custom-mt {
        margin-top: 10px;
    }
}