[dir="rtl"] .leftside-links {
    margin-left: 0px;
    margin-right: 80px !important;
}

[dir="rtl"] .rightside-links {
    margin-right: auto;
    margin-left: 0 !important;
}



.header {
    background-color: white;
    padding: 15px 0;
}

.leftside-links {
    margin-left: 64px;
}

.header-links {
    margin-right: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-primary);
    padding: 0px 0px !important;
}

.header-links:hover {
    color: var(--purple);
}

.header-links.active-page {
    color: var(--purple);
}

@media screen and (max-width: 991px) {
    .leftside-links {
        margin-left: 0px;
    }

    .header-links {
        margin-right: 0px;
        padding: 10px 0px !important;
    }

    [dir="rtl"] .leftside-links {
        margin-left: 0px;
        margin-right: 0px !important;
    }

}


.header .navbar-toggler:focus {
    box-shadow: none !important;
}

.header .navbar-toggler {
    border: none !important;
}