.item img {
    width:100%;
}


@media screen and (max-width: 991px) {
    .owlcarousel {
        margin-top: 50px;
    }
}

.applications {
    padding: 6px 5px;
    background: linear-gradient(193.88deg, #FF7A00 0%, #F2B643 90.09%);
    display: flex;
    max-height: 34px;
    align-items: center;
    border-radius: 5px;
    width: 173px;
    margin-top: 10px;
}
.applications img{
    width: 13px !important;
    height: 13px !important;
    margin-left: 14px;
}

.applications h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;

}
.img-text-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .sub-item{
    max-width: 173px;
    max-height: 300px;
} */