@import "./fonts.css";

:root {
    --text-primary: #212B36;
    --text-secondary: #637381;
    --purple: #8224E3;
    --background-paper: #FFFFFF;
}

body {
    font-family: 'Public Sans' !important;
}

.main-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-primary);
    margin-bottom: 24px;
}

.secondary-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
    width: 90%;
    margin: auto;
}

.primary-button {
    padding: 9px 22px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 22px;
    background-color: var(--purple);
    color: var(--background-paper);
    border: 1px solid var(--purple);

}

.primary-button:hover {
    background-color: white;
    color: var(--purple);
    border: 1px solid var(--purple);
}





/* content creator section */

.content-creator {
    padding: 80px 0;
}

.content-creator .img-part img {
    width: 100%;
    height: auto;
}

.content-creator h3 {
    text-align: right;
    margin-left: auto;
}

.content-creator p {
    width: 70%;
    text-align: right;
    margin: 0 0 30px auto;
}

.content-creator .btn-part {
    display: flex;
    justify-content: end;
}


/* core card */
.core-cards {
    margin-top: 40px;
}

.core-cards .scale-up {
    transform: scale(1.1);
}

.core-cards .sub-card {
    display: grid;
    justify-content: center;
}

.core-cards .card-content {
    padding: 80px 40px;
    background: var(--background-paper);
    box-shadow: -40px 40px 80px 0px #919EAB29;
    border-radius: 15px;
    max-width: 330px;
}

.core-cards .card-content .logo-part {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}


.core-cards .card-content .text-part {
    text-align: center;
}

.core-cards .card-content .img-part {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.core-cards .card-content .img-part::after {
    content: ' ';
    width: 45px;
    height: 45px;
    background-color: #8E33FF14;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    left: 115px;
}

.core-cards .card-content .text-part {
    align-items: center;
}

.core-cards .card-content .text-part h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--text-primary);
    margin-bottom: 16px;
}

.core-cards .card-content .text-part p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-secondary);
}


/* animated card */

.common-animated-card .card {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 54px;
    box-shadow: 0px 12px 24px -4px #919EAB1F;
    margin: 16px 0px;
}

.common-animated-card .card-img {
    width: 58px;
    height: 58px;
    margin-bottom: 30px;
}

.common-animated-card .card-heading h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.common-animated-card .card-content a {
    color: #637381;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.common-animated-card {
    display: grid;
}

.common-animated-card .card-content p {
    color: #637381;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.card-image-div {
    margin-bottom: 10px;
}

.common-animated-card .card-image-div .large-circle {
    position: absolute;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    left: 36%;
    bottom: 56%;
    width: 3.37em;
    height: 3.37em;
    background: rgba(200, 74, 166, 0.1);
}

.common-animated-card .card-image-div .small-circle {
    position: absolute;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    top: 20%;
    right: 40%;
    width: 1.59em;
    height: 1.59em;
    background: rgba(128, 137, 255, .1);
}

/* CSS for changing SVG color to white on hover */
.common-animated-card:hover .card-image-div svg g path {
    fill: #ffffff;
}

.common-animated-card:hover .card-image-div svg path {
    fill: #ffffff;
}

.common-animated-card:hover .card-image-div svg path {
    stroke: #ffffff;
}

.common-animated-card .card:hover .card-img path {
    fill: #fff;
}

.common-animated-card .card:hover .large-circle {
    background: hsla(0, 0%, 100%, .1);
    transform: scale(1.4);
}

.common-animated-card .card:hover .small-circle {
    background: hsla(0, 0%, 100%, .1);
    transform: scale(1.4);
}

.common-animated-card .card:hover {
    background-color: var(--purple);
}

.common-animated-card .card:hover .card-img {
    color: #fff !important;
    animation-name: animation-wobble-to-top-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.common-animated-card .card:hover .card-heading h6 {
    color: #ffffff;
}

.common-animated-card .card:hover .card-content a {
    color: #ffffff;
}

.common-animated-card .card:hover .card-content p {
    color: #ffffff;
}

/* card image animation  */

@keyframes animation-wobble-to-top-right {
    16.65% {
        transform: translate(8px, -8px);
    }

    33.3% {
        transform: translate(-6px, 6px);
    }

    49.95% {
        transform: translate(4px, -4px);
    }

    66.6% {
        transform: translate(-2px, 2px);
    }

    83.25% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: translate(0);
    }
}



/* underline */
.underline{
    position: relative;
}

.underline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:var(--purple);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .underline:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* responsive  */
@media screen and (max-width: 1200px) {
    .secondary-text {
        font-size: 18px;
        font-weight: 400;
    }

    .main-heading {
        font-size: 42px;
        margin-bottom: 20px;
        line-height: 48px;
    }

    .content-creator h3 {
        width: 100%;
    }

    .content-creator {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 991px) {
    .common-animated-card .card {
        margin-top: 30px;
    }

    .core-cards .sub-card {
        margin-bottom: 25px;
    }
    .core-cards .scale-up {
        transform: scale(1);
    }

    .main-heading {
        font-size: 38px;
        margin-bottom: 15px;
        line-height: 44px;
        text-align: center;
    }

    .secondary-text {
        text-align: center;
        width: 100%;
    }

    .content-creator h3 {
        text-align: center;
    }

    .content-creator p {
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .content-creator .btn-part {
        margin: 25px 0;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 768px) {
    .main-heading {
        font-size: 38px;
    }

    .common-animated-card .card {
        padding: 50px 34px;
    }

    .content-creator h3 {
        width: 100%;
    }

    .content-creator {
        padding: 60px 0;
    }

    .content-creator p {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .main-heading {
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    .secondary-text {
        font-size: 16px;
    }

    .content-creator {
        padding: 30px 0;
    }

    .content-creator .text-part {
        margin-bottom: 50px;
    }

    .card-content {
        padding: 40px 30px;
    }

    .card-content .img-part {
        margin-bottom: 25px;
    }

}




/* bootstrap accordion css */





.accordion-button::after {
    background-image: url(../assets/images/creator/open-btn.svg) !important;
    margin-left: auto !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../assets/images/creator/close-btn.svg) !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.accordion {
    --bs-accordion-border-radius: 0px !important;
}

.accordion-item {
    color: var(--bs-accordion-color) !important;
    background-color: var(--bs-accordion-bg) !important;
    border: none !important;
    border-bottom: 1px solid rgba(99, 115, 129, 1) !important;
}

.accordion-body {
    padding: 0 1.25rem !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}



