@import "./fonts.css";

:root {
    --text-primary: #212B36;
    --text-secondary: #637381;
    --purple: #8224E3;
    --background-paper: #FFFFFF;
}

body {
    font-family: 'Public Sans' !important;
    overflow: auto !important;
}

.main-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-primary);
    margin-bottom: 24px;
}

.secondary-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
    width: 90%;
    margin: auto;
}

.primary-button {
    padding: 9px 22px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 22px;
    background-color: var(--purple);
    color: var(--background-paper);
    border: 1px solid var(--purple);

}

.primary-button:hover {
    background-color: white;
    color: var(--purple);
    border: 1px solid var(--purple);
}





/* content creator section */






/* core card */
.core-cards {
    margin-top: 70px;
}

.core-cards .scale-up {
    transform: scale(1.1);
}

.core-cards .sub-card {
    display: grid;
    justify-content: center;
}

.core-cards .card-content {
    padding: 80px 40px;
    background: var(--background-paper);
    box-shadow: -40px 40px 80px 0px #919EAB29;
    border-radius: 15px;
    max-width: 330px;
}

.core-cards .card-content .logo-part {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}


.core-cards .card-content .text-part {
    text-align: center;
}

.core-cards .card-content .img-part {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.core-cards .card-content .img-part::after {
    content: ' ';
    width: 45px;
    height: 45px;
    background-color: #8E33FF14;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    left: 115px;
}

.core-cards .card-content .text-part {
    align-items: center;
}

.core-cards .card-content .text-part h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--text-primary);
    margin-bottom: 16px;
}

.core-cards .card-content .text-part p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-secondary);
}


/* animated card */

.common-animated-card .card {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 54px;
    box-shadow: 0px 12px 24px -4px #919EAB1F;
    margin: 16px 0px;
}

.common-animated-card .card-img {
    width: 58px;
    height: 58px;
    margin-bottom: 30px;
}

.common-animated-card .card-heading h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.common-animated-card .card-content a {
    color: #637381;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.common-animated-card {
    display: grid;
}

.common-animated-card .card-content p {
    color: #637381;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.card-image-div {
    margin-bottom: 10px;
}

.common-animated-card .card-image-div .large-circle {
    position: absolute;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    left: 36%;
    bottom: 56%;
    width: 3.37em;
    height: 3.37em;
    background: rgba(200, 74, 166, 0.1);
}

.common-animated-card .card-image-div .small-circle {
    position: absolute;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    top: 20%;
    right: 40%;
    width: 1.59em;
    height: 1.59em;
    background: rgba(128, 137, 255, .1);
}

.common-animated-card:hover .card-image-div svg g path {
    fill: #ffffff;
}

.common-animated-card:hover .card-image-div svg path {
    fill: #ffffff;
}

.common-animated-card:hover .card-image-div svg path {
    stroke: #ffffff;
}

.common-animated-card .card:hover .card-img path {
    fill: #fff;
}

.common-animated-card .card:hover .large-circle {
    background: hsla(0, 0%, 100%, .1);
    transform: scale(1.4);
}

.common-animated-card .card:hover .small-circle {
    background: hsla(0, 0%, 100%, .1);
    transform: scale(1.4);
}

.common-animated-card .card:hover {
    background-color: var(--purple);
}

.common-animated-card .card:hover .card-img {
    color: #fff !important;
    animation-name: animation-wobble-to-top-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.common-animated-card .card:hover .card-heading h6 {
    color: #ffffff;
}

.common-animated-card .card:hover .card-content a {
    color: #ffffff;
}

.common-animated-card .card:hover .card-content p {
    color: #ffffff;
}

/* card image animation  */

@keyframes animation-wobble-to-top-right {
    16.65% {
        transform: translate(8px, -8px);
    }

    33.3% {
        transform: translate(-6px, 6px);
    }

    49.95% {
        transform: translate(4px, -4px);
    }

    66.6% {
        transform: translate(-2px, 2px);
    }

    83.25% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: translate(0);
    }
}



/* underline */
.underline {
    position: relative;
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--purple);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline:hover:after {
    width: 100%;
    left: 0;
}

.flag .dropdown-toggle::after {
    display: none !important;
}


@media screen and (min-width: 991px) {
    .offcanvas-backdrop {
        display: none;
    }

    body {
        overflow: auto !important;
    }
}


/* responsive  */
@media screen and (max-width: 1200px) {
    .secondary-text {
        font-size: 18px;
        font-weight: 400;
    }

    .main-heading {
        font-size: 42px;
        margin-bottom: 20px;
        line-height: 48px;
    }


}

@media only screen and (max-width: 991px) {
    .common-animated-card .card {
        margin-top: 30px;
    }

    .core-cards .sub-card {
        margin-bottom: 25px;
    }

    .core-cards .scale-up {
        transform: scale(1);
    }

    .main-heading {
        font-size: 38px;
        margin-bottom: 15px;
        line-height: 44px;
        text-align: center;
    }

    .secondary-text {
        text-align: center;
        width: 100%;
    }



}

@media only screen and (max-width: 768px) {
    .main-heading {
        font-size: 38px;
    }

    .common-animated-card .card {
        padding: 50px 34px;
    }


}

@media screen and (max-width: 520px) {
    .main-heading {
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    .common-animated-card .card {
        padding: 40px 34px;
    }

    .secondary-text {
        font-size: 16px;
    }

    .core-cards .card-content {
        padding: 40px 30px;
    }

    .card-content .img-part {
        margin-bottom: 25px;
    }

    .vertical-accordion .accordion-body {
        padding: 25px 25px !important;
    }

    .vertical-accordion .accordion-button {
        padding: 15px 20px;
    }

    .core-cards .card-content .creator-logo-part img{
        width: 60px;
        height: 60px;
    }

    .core-cards .card-content .logo-part {
        margin-bottom: 48px;
    }
    .vertical-accordion .accordion-item {
        margin-bottom: 20px !important;
    }

}




/* bootstrap faq accordion css */





.faq-section .accordion-button::after {
    background-image: url(../assets/images/creator/open-btn.svg) !important;
    margin-left: auto !important;
}

.faq-section .accordion-button:not(.collapsed)::after {
    background-image: url(../assets/images/creator/close-btn.svg) !important;
}

.faq-section .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.faq-section .accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.faq-section .accordion {
    --bs-accordion-border-radius: 0px !important;
}

.faq-section .accordion-item {
    color: var(--bs-accordion-color) !important;
    background-color: var(--bs-accordion-bg) !important;
    border: none !important;
    border-bottom: 1px solid rgba(99, 115, 129, 1) !important;
}

.faq-section .accordion-body {
    padding: 0 1.25rem !important;
}

.faq-section .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faq-section .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}





/* vertical accordion */
.vertical-accordion .accordion-item {
    margin-bottom: 32px;
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
    box-shadow: 0px 12px 24px -4px hsla(210, 13%, 62%, 0.12);
}


.vertical-accordion .accordion-button {
    display: block !important;
    padding: 20px 24px;
    font-size: 24px;
    color: var(--bs-accordion-btn-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    background-color: var(--bs-accordion-btn-bg);
    border: 1px solid rgba(219, 219, 219, 1) !important;
    border-radius: 10px !important;
    overflow-anchor: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease !important;
}

.vertical-accordion .accordion-button::after {
    display: none !important;
}

.vertical-accordion .accordion-button:not(.collapsed) {
    background-color: var(--background-paper);
    border-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;
}

.vertical-accordion .accordion-body {
    border-top: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 10px;
    padding: 50px 50px;
}

.vertical-accordion .accordion-button:focus {
    box-shadow: none;
}