@import "./fonts.css";

:root {
    --text-primary: #212B36;
    --text-secondary: #637381;
    --text-secondary: #637381;
    --purple: #8224E3;
    --background-paper:  #FFFFFF;
}

body {
    font-family: 'Public Sans' !important;
}

.main-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-primary);
    margin-bottom: 24px;
}

.secondary-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
}

.primary-button {
    padding: 9px 22px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 5px;
    background-color:var(--purple);
    color:var(--background-paper);
    border: 1px solid var(--purple);
}

.primary-btn:hover{
    background-color:var(--background-paper);
    color:var(--purple);
    border: 1px solid var(--purple);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 5px;
}

