
[dir="rtl"] .pe-5{
    padding-left: 3rem !important;
    padding-right: 0;
}



[dir="rtl"] .content-creator .btn-part {
    display: flex;
    justify-content: start;
}

[dir="rtl"]  .faq-section .accordion-button::after {
    background-image: url(../assets/images/creator/open-btn.svg) !important;
    margin-left: 0 !important;
    margin-right: auto;
}


[dir="rtl"] .dropdown-menu[data-bs-popper] {
    right: auto !important;
    left:0 !important;
}