.slider-section {
    padding: 96px 0 80px 0;
}

.heading-text {
    position: relative;
}

.heading-text::before {
    content: '';
    position: absolute;
    width: 61px;
    height: 58px;
    top: -35px;
    right: 145px;
    background-image: url(../assets/images/landing/headingtext-design.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.heading-text h3 {
    font-size: 68px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: 2px;
    text-align: center;
    width: 75%;
    margin: auto;
    color: var(--text-primary);
}

.heading-text span {
    color: var(--purple);
}

.slider-container{
    padding: 64px 0px 80px 120px;
}
.slider-container p{
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.02em;
color: var(--text-secondary);
width: 50%;
}
.slider-container h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.15px;
    color: var(--text-primary);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.signup-part{
    display: flex;
    align-items: center;
}